@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
	overflow-x: hidden;
    font-family: "Roboto";
    overscroll-behavior-y: none;
    position: fixed;
    overflow: hidden;
}

html {
	overflow-x: none !important;
	height: 100%;
}

body {
	padding: 0px;
	height: 100%;
	font-family: "Roboto";
	position: relative;
}

p {
	color: #D1CCC0;
	font-size: 18px;
}

img {
	max-width: 100%;
}

textarea {
    resize: none !important;
}

::placeholder {
  color: silver;
  opacity: 1;
  padding-left: 5px;
  font-size: 18px;
}

:-ms-input-placeholder {
  color: silver;
    padding-left: 5px;
     font-size: 18px;

}

::-ms-input-placeholder {
  color: silver;
    padding-left: 5px;
     font-size: 18px;

}

.headline_wrapper {
    border : 1px solid silver;
    width: 80%;
    margin: 10px;
}

.col {
    max-width: 50%;
    margin-bottom: 70px;
    padding-top: 20px;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.col2 {
	background: #313030;
	width: 50%;
	height: 100%;
	position: fixed;
	right: 0;
	border-radius: 4px;
    margin-top: -8px;
}

.flex_grid_banner {
	background: #3d3d3d;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    padding-right: 0px;
	position: sticky;
	top: 0px;
	z-index: 9999;
	width: 100%;
    height: 80px;
}

.logo {
	width: 160px;
	margin-left: 0px;
	margin-top: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sign_in {
    position: relative;
    cursor: pointer;
    margin-top: 0px;
}

.add_message {
	width: 40px;
	height: 40px;
	fill: #F3B32B;
	z-index: 9999999999;
	filter: drop-shadow(4px 4px 2px black);
	cursor: pointer;
    right: 0;
	position: absolute;
	margin: 20px;
}


.flex-grid {
	display: flex;
	flex-direction: row;
	align-self: stretch;
	padding: 5px;
	border-radius: 4px;
}

.flex-grid>div {
	text-align: center;
}

.user {
    font-weight: bold;
    margin-left: 10px;
}

.hold_msg {
	background: transparent;
	min-height: 50px;
	padding: 10px;
}

.msg_wrapper {
	width: 95%;
	height: auto;
	padding: 5px;
	background: transparent;
	margin-bottom: 10px;
	color: #141414;
	font-size: 18px;
	margin: 10px;
	border-radius: 4px;
	text-align: left;
	white-space: pre-wrap;
}

.msg_img {
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
}

.modal {
	height: auto;
	width: 90%;
	max-width: 600px;
	padding: 0px;
	padding-top: 10px;
	border-radius: 4px;
	background: #3D3D3D;
	border: 3px solid #141414;
	box-shadow: 2px 2px 100px goldenrod;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-appearance: none;
	display: none;
	z-index: 99999;
}

#avatar_modal {
    width: auto;
    box-shadow: 2px 2px 100px goldenrod;
}

.close_modal {
	color: whitesmoke;
	right: 0;
	margin-top: -30px;
	margin-right: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
    position: absolute;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
}

.textarea {
	flex: 0 0 auto;
	width: 93%;
	height: 150px;
	color: whitesmoke;
	outline: 0;
	padding: 10px;
	background: #4f4434;
	border: none;
	font-size: 20px;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
    font-family: Roboto;
    outline: 2px solid goldenrod;
}

/*
.textarea:focus {
	outline: 2px solid #f3b32b;
}
*/

.icon_wrapper_post {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

.icons_post,
.like_icons {
	cursor: pointer;
}

.icon_thread {
	margin-top: 3px;
	opacity: 0.2 !important;
	pointer-events: none;
}

.icon_retweet {
	margin-top: -2px;
}

.show_count {
	color: whitesmoke;
	margin-bottom: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.table {
	border: 0px solid black;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

td {
	border: 0px solid black;
	background: #F3B32B;
	height: 40px;
}

td:nth-child(4) {
	background: #D1CCC0;
}

.hold_uploaded_img {
	border-radius: 5px;
}

.upload_image {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
	margin-top: 4px;
}

.thread {
	background: transparent;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 4px;
}

.poll {
	background: transparent;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 4px;
}

.post {
	background: transparent;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0 auto;
	cursor: pointer;
}

.like_count {
	position: absolute;
	margin-top: 6px;
	margin-left: 8px;
	color: #3D3D3D;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.shake_it {
	animation: shake 0.5s;
	animation-iteration-count: 1;
	font-weight: normal !important;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.fileContainer {
	width: 0px;
	height: 0px;
	background: transparent !important;
}

.avatar {
    width: 60px;
}

video {
	width: 99%;
	margin: 0 auto;
	border-radius: 4px;
}

.top_and_news_wrapper {
    display: grid;
    grid-template-columns: 5% 30% 5% 60%;
    gap: 10px;
    grid-auto-rows: 30px 300px;
    width: 100%;
    height: 100vh;
}

.top_post_wrapper, .headlines_wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 10px;
    grid-auto-rows: 10vh;
    margin-top: 20px;
    margin-left: -20px;
    cursor: pointer;
}

.top_posts, .news {
    margin-top: 10px;
    margin-left: 30px;
}

.news {
    margin-left: 30px;
}

.posts_title {
    margin-left: 25px !important;
}

.news_title  {
    margin-left: 30px !important;
}

.posts_title, .news_title {
    text-align: left;
    margin-left: 10px;
    font-size: 1.3vw;
    font-family: "Roboto";
    margin-top: 15px;
    white-space: nowrap;
}

.news_logo {
    min-width: 40px;
    max-width: 40px;
    margin-top: 10px;
}

.top_post_title, .headline_title {
    color: whitesmoke;
    text-align: left;
    font-size: 1vw;
    margin-left: 10px;
    white-space: nowrap;
}

.headline_title > a {
    text-decoration: none;
    color: whitesmoke;
}

.top_posts_user {
    color: silver;
    font-size: 12px;
}

.top_posts_avatar {
    min-width: 40px;
    max-width: 40px;
}

.footer {
	height: 50px;
	background: #313030;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 20px;
}

.options_icons {
    cursor: pointer;
    color: gold !important;
}

div:nth-child(1) > .options_icons {
    font-size: 12px;
}

div:nth-child(2) > .options_icons {
    font-size: 13px;
}

div:nth-child(3) > .options_icons {
    font-size: 13px;
}


.input_hide {
    visibility: hidden;
}

.camera_icon {
    color: gold;
    font-size: 30px;
    margin: 10px;
    margin-bottom: -10px;
    cursor: pointer;
}

.upload_title {
    color: whitesmoke;
}

.upload_title_sub {
    color: silver;
    margin-top: -20px;
}

.avatar_close {
    margin-top: 30px;
}


#avatar_pic {
    border-radius:0%;
    margin: 0 auto;
    width:100px;
    height:100px;
    margin-right: 10%;
    margin-left: 10%;
    background-image: url("./avatar.png");
    background-size : cover;
    border: none;
}

.bio {
    height: 100px !important;
    width: 80% !important;
    margin-bottom: 10px !important;
    background: #797171a8;
    color: whitesmoke;
    font-size: 18px; 
    padding: 10px;
}

.save_profile {
    height: 26px;
    width: auto;
    border: none;
    border-radius: 3px;
    color:darkslategrey;
    background: gold;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
}



.sign_in_input {
    height: 40px;
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background: #3F3E3D;
    margin-bottom: 20px;
    color: whitesmoke;
    padding: 4px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Roboto";
}

.input_1 {
    margin-top: 10px;
}

.forgot_pass {
    color: silver;
    margin-top: -10px;
    cursor: pointer;
}

.submit {
    height: 30px;
    width: 95%;
    border: none;
    background: gold;
    border-radius: 3px;
    margin: 10px;
    margin-top: 0px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
}

.sign_in_up_wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px;
    margin-left: 25px;
}

.submit_options {
    height: 30px;
    min-width: 50%;
    border: none;
    background: gold;
    border-radius: 3px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
}

.submit_options:nth-child(2) {
    background: grey;
    color: whitesmoke;
    margin-left: 10px;
}

.feed_titles_wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    text-align: center;
    z-index: 9999;
}

.feed_titles {
    width: 100%;
    background: gold;
    cursor: pointer;
}

.feed_titles:nth-child(2) {
    background : #313030;
    color: silver;
}


@media only screen and (max-width: 600px) {
	html {
		overflow-x: none !important;
    }
    .logo {
        width: 130px;
    }
    .add_message {
        width : 30px !important; 
        margin-right: 20px !important;
    }
    .flex_grid_banner {
        height: auto !important;
    }
	
	.textarea {
		width: 90% !important;
	}
	.options_icons {
        font-size: 12px !important;
        color: gold !important;
    }
    .footer {
        height: 20px !important;
        padding: 15px;
    }
    #avatar_modal {
        width: 90%;
    }
    #profile_icon {
        font-size: 14px !important;
        margin-top: -3px;
    }
}
@media only screen and (max-width: 1000px) {
    .col {
        max-width: 100%;
	}
    .col2 {
        display: none;
        z-index: -1;
    }
    .feed_titles_wrapper {
        width: 100%;
        box-shadow: 0 4px 10px -2px #141414;
    }
    
}