@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
	overflow-x: hidden;
	font-family: "Roboto";
}

html {
	overflow-x: none !important;
	height: 100%;
}

body {
	padding: 0px;
	height: 100%;
	font-family: "Roboto";
	position: relative;
}

p {
	color: #D1CCC0;
	font-size: 18px;
}

img {
	max-width: 100%;
}

.col {
    max-width: 50%;
    margin-bottom: 70px;
}

.col2 {
	background: #3d3d3d;
	width: 50%;
	height: 100%;
	position: fixed;
	right: 0;
	border-radius: 4px;
	margin-top: -8px;
}

.flex_grid_banner {
	background: #3d3d3d;
	display: flex;
	flex-direction: row;
	align-self: stretch;
	padding: 5px;
	position: sticky;
	top: 0px;
	z-index: 99999999999999999;
	width: 100%;
	height: 80px;
}

.logo {
	width: 160px;
	margin-left: 0px;
	margin-top: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.flex-grid {
	display: flex;
	flex-direction: row;
	align-self: stretch;
	padding: 5px;
	border-radius: 4px;
}

.flex-grid>div {
	text-align: center;
}

.add_message {
	width: 40px;
	height: 40px;
	fill: #F3B32B;
	z-index: 9999999999;
	filter: drop-shadow(4px 4px 2px black);
	cursor: pointer;
	right: 0;
	position: absolute;
	margin: 20px;
}

.user {
	padding-top: 10px;
	font-weight: bold;
	margin-top: 5px;
}

.hold_msg {
	background: transparent;
	min-height: 50px;
	padding: 10px;
}

.msg_wrapper {
	width: 95%;
	height: auto;
	padding: 5px;
	background: transparent;
	margin-bottom: 10px;
	color: #141414;
	font-size: 18px;
	margin: 10px;
	border-radius: 4px;
	text-align: left;
	white-space: pre-wrap;
}

.msg_img {
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
}

.modal {
	height: auto;
	width: 90%;
	max-width: 600px;
	padding: 0px;
	padding-top: 10px;
	border-radius: 4px;
	background: #3D3D3D;
	border: 3px solid #141414;
	box-shadow: 2px 2px 100px black;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-appearance: none;
	display: none;
	z-index: 999999999999999999999;
}

.close_modal {
	color: whitesmoke;
	right: 0;
	margin-top: -30px;
	margin-right: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
}

.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
}

.textarea {
	flex: 0 0 auto;
	width: 93%;
	height: 150px;
	color: whitesmoke;
	outline: 0;
	padding: 10px;
	background: #4f4434;
	border: none;
	font-size: 20px;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: Roboto;
}

.textarea:focus {
	outline: 2px solid #f3b32b;
}

.icon_wrapper_post {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

.icons_post,
.like_icons {
	cursor: pointer;
}

.icon_thread {
	margin-top: 3px;
	opacity: 0.2 !important;
	pointer-events: none;
}

.icon_retweet {
	margin-top: -2px;
}

.show_count {
	color: whitesmoke;
	margin-bottom: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.table {
	border: 0px solid black;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

td {
	border: 0px solid black;
	background: #F3B32B;
	height: 40px;
}

td:nth-child(4) {
	background: #D1CCC0;
}

.hold_uploaded_img {
	border-radius: 5px;
}

.upload_image {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
	margin-top: 4px;
}

.thread {
	background: transparent;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 4px;
}

.poll {
	background: transparent;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 4px;
}

.post {
	background: transparent;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0 auto;
	cursor: pointer;
}

.like_count {
	position: absolute;
	margin-top: 6px;
	margin-left: 8px;
	color: #3D3D3D;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.shake_it {
	animation: shake 0.5s;
	animation-iteration-count: 1;
	font-weight: normal !important;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.fileContainer {
	width: 0px;
	height: 0px;
	background: transparent !important;
}

.avatar {
	float: left;
	width: 80px;
	margin-left: -20px;
}

video {
	width: 99%;
	margin: 0 auto;
	border-radius: 4px;
}

.news_header {
	margin-left: 20px;
}

.news_header_cell {
	background: transparent !important;
}

.footer {
	height: 50px;
	background: #3D3D3D;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 20px;
}

.options_icons {
    cursor: pointer;
    color: gold !important;
}

div:nth-child(1) > .options_icons {
    font-size: 12px;
}

div:nth-child(2) > .options_icons {
    font-size: 13px;
}

div:nth-child(3) > .options_icons {
    font-size: 13px;
}

.avatar_wrapper {
background-image: url("https://banner2.cleanpng.com/20181118/uxu/kisspng-clip-art-image-generic-drug-social-media-photograp-male-svg-png-icon-free-download-5-6821-online-5bf22649c9d890.4957056815425961698268.jpg");
background-size: cover;
background-repeat: no-repeat;
border: 3px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-left: 40%;
}

.input_hide {
    visibility: hidden;
}

.camera_icon {
    color: gold;
    font-size: 30px;
    margin: 20px;
}

#avatar_pic {
    width: 200px;
    max-width: 1000px;
}

@media only screen and (max-width: 600px) {
	html {
		overflow-x: none !important;
	}
	.col {
		max-width: 100%;
	}
	.col2 {
		display: none;
	}
	.textarea {
		width: 90% !important;
	}
	.options_icons {
        font-size: 12px !important;
        color: gold !important;
    }
    .footer {
        height: auto;
        padding: 15px;
    }
}