.avatar_modal {
    width: 0px;
    height: 100vh;
    right: 0;
    margin-right: -30px;
    position: absolute;
    background: rgba(61, 61, 61, 1);
    box-shadow: 2px 2px 40px #141414;
    z-index: 999999;
    font-family: "Oswald";
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.bio {
	height: 100px !important;
	width: 90% !important;
	margin-bottom: 10px !important;
	background: #797171a8;
	color: whitesmoke;
	font-size: 18px;
    padding: 10px;
}

.save_profile {
	height: 40px;
	width: auto;
	border: none;
	border-radius: 3px;
	color: #141414;
	background: gold;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}

.avatar_close {
    display: none;
    font-size: 22px;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .bio {
         margin-left: 20px;
    }
}