.repost {
    height: auto;
    width: 0vw;
    position: absolute;
    background:rgba(61, 61, 61, 1);
    bottom: 0;
    margin-bottom: 50px;
}

.repost_wrapper {
    display: grid;
    grid-template-columns: "auto";
    grid-auto-rows: auto auto;
    gap: 10px;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.repost_item:nth-child(1){
    grid-row: 1;
    margin-top: 10px;
    width: 0vw;
    display: none;
}

.repost_item:nth-child(2) {
    display: none;
    grid-row: 2;
    width: 0px;
    background: gold;
    color: #141414;
    border-radius: 3px;
    outline: 0;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#repost_textrea {
    margin-top: 10px;
    width: 45%;
    height: 130px;
    color: whitesmoke;
	outline: 0;
	padding: 10px;
	background: #4f4434;
	border: none;
	font-size: 20px;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Roboto;
	outline: 2px solid goldenrod;
}

@media only screen and (max-width: 1000px) {
    .repost {
        width: 0vw;
    }
    #repost_textrea {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .repost {
        width: 0vw;
    }
    #repost_textrea {
        width: 88%;
        margin-left: -10px;
    }
}
