.side_div {
    width: 0px;
    height: 100vh;
    right: 0;
    margin-right: -30px;
    position: absolute;
    background: #3D3D3D;
    box-shadow: 2px 2px 40px #764545;
    z-index: 999999;
    font-family: "Oswald";
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

.dir_msg_text {
    display: none;
}

.close_side_div {
    font-size: 20px;
    cursor: pointer;
    float: right;
}